* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    display: flex;
    background-color: rgb(240, 233, 233);
}

.img-container {
    /* background-color: yellowgreen; */
    height: 100vh;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 90%;
    width: 90%;
    border-radius: 5%;
}

.about-container {
    /* background-color: yellow; */
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}

.about-container .heading {
    text-align: center;
    font-family:  "Archivo Black", sans-serif;
    font-weight: bold;
}


form {
    /* background-color: yellowgreen; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.email {
    background-color: #fff;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    border-radius: 10px;
}

.email i {
    /* background-color: #242527; */
    color: #242527;
    font-size: 2rem;
    margin-left: 10px;
}

input {
    width: 40rem;
    height: 3rem;
    border: none;
    border-radius: 7px;
    padding-left: 0.5rem;
}

.password {
    background-color: #fff;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-top: 10px;
    border-radius: 10px;
}

.password i {
    /* background-color: #242527; */
    color: #242527;
    font-size: 2rem;
    margin-left: 10px;

}

form a {
    /* background-color: yellowgreen; */
    text-decoration: none;
    align-self: flex-end;
    margin-right: 35px;
    margin-top: 10px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    gap: 20px;
}

.button button {
    width: 30%;
    height: 100%;
    background-color: #0d6efd;
    color: #fff;
    font-weight: bold;
    border: none;
    font-size: 1.2rem;
    font-family: "Roboto Mono", monospace;
    border-radius: 10px;
}

button:hover {
    transform: scale(1.01);
}

.lgOpt {
    /* background-color: yellowgreen; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    cursor: pointer;
    margin-top: 80px;
}

.lgOpt .apple {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
}

.lgOpt .apple i {
    font-size: 2.5rem;
}

.lgOpt .google {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
}

.lgOpt .google i {
    font-size: 2rem;
}

.lgOpt .apple p {
    font-size: 1.5rem;
    margin-left: 15px;
    margin-top: 12px;
    margin-right: 10px;
}

.lgOpt .google p {
    font-size: 1.5rem;
    margin-left: 15px;
    margin-top: 12px;
    margin-right: 10px;
}

#footer {
    font-size: 0.9rem;
    text-align: center;
    margin-top: 50px;
    opacity: 70%;
}
@media (max-width: 720px) and (min-width: 330px) {

    .img-container {
        display: none;
    }

    .about-container {
        height: 30%;
        width: 100%;
        gap: 0;
    }

    .about-container h1 {
        margin-top: 50px;
        margin-bottom: 40px;
    }

    .button {
        width: 50%;
        margin-left: 25%;
        margin-top: 30px;
    }

    .para p {
        font-size: 1rem;
    }

    .button button {
        font-size: 1rem;
        width: 50%;
    }

    .footer {
        margin-top: 100%;
    }

    form .email i {
        padding-right: 1.5rem;
    }

    form .password i {
        padding-right: 1.5rem;
        padding-top: 0.2rem;
    }

    #footer {
        margin-top: 10rem;
        background-color: rgb(223, 222, 222);
    }
}
